.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
  padding: 25px 0px;
  margin: auto;
  background-color: transparent;
}

.header_nav {
  background-color: transparent !important;
  max-width: 1230px;
  margin: auto;
}

.header_links {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--header-links) !important;
  margin: 0px 12px;
}

.header_linksActive {
  color: #ea8117 !important;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* header resposnive */

@media (max-width: 1440px) {
  .header {
    max-width: 100%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 25px 25px;
  }
}
