/* .banner {
  background-image: url(../../public/banner.jpg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  align-items: center;
} */

.banner {
  height: 100vh;
}

.bgbannerImg {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.banner_content h3 {
  font-size: 45px;
  color: #1797ea;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.banner_content h1 {
  font-size: 75px;
  color: #fff;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.bannerImg {
  width: 100%;
  margin: 0 0 0 auto;
}

.pointer_div svg #wheel {
  animation: scroll 2s ease infinite;
  -webkit-animation: scroll 2s ease infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(60px);
  }
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(60px);
  }
}

.banner_img_div {
  position: relative;
}

.next_logo_img {
  width: 150px;
  position: absolute;
  top: 5%;
  left: 8%;
  animation: movebounce 4s linear infinite;
}

.react_logo_img {
  width: 80px;
  position: absolute;
  top: 10%;
  right: 10%;
  animation: movebounce 4s linear infinite;
}

.js_logo_img {
  width: 80px;
  position: absolute;
  bottom: 10%;
  left: 30%;
  animation: movebounce 4s linear infinite;
}

@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.banner_container {
  max-width: 1230px;
  margin: auto;
  margin-top: 100px;
}

/* responsive Banner */

@media (max-width: 1440px) {
  .banner_content h3 {
    font-size: 25px;
  }

  .banner_content h1 {
    font-size: 60px;
  }

  .banner_content .para {
    font-size: 22px;
  }

  .banner_container {
    max-width: 1170px;
    height: 100vh;
    margin-top: -81px;
  }

  .bannerImg {
    width: 100%;
  }

  .banner_text {
    font-size: 17px !important;
    line-height: 20px !important;
  }

  .next_logo_img {
    width: 90px;
    top: 10%;
    left: 10%;
  }

  .react_logo_img {
    width: 60px;
    top: 12%;
    right: 3%;
  }

  .js_logo_img {
    width: 55px;
    bottom: 5%;
    left: 55%;
  }

  .bgbannerImg {
    height: 100vh;
  }
}

@media (max-width: 1199px) {
  .banner_content h1 {
    font-size: 45px;
  }

  .banner_content .para {
    font-size: 18px;
  }

  .next_logo_img {
    width: 90px;
    top: 0;
    left: 3%;
  }

  .js_logo_img {
    width: 55px;
    bottom: 7%;
    left: 28%;
  }

  .bannerImg {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .banner_container {
    padding: 0px 40px;
  }

  .banner_content .para {
    font-size: 16px;
  }

  .banner_content h1 {
    font-size: 40px;
  }

  .bannerImg {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .banner_container {
    margin-top: 0;
  }

  .banner_content h3 {
    text-align: center;
    font-size: 22px;
  }

  .banner_content h1 {
    text-align: center;
    font-size: 36px;
  }

  .banner_content .para {
    font-size: 16px;
    text-align: center;
  }

  .banner_text {
    text-align: center;
  }

  .mainBtnDiv {
    text-align: center;
    margin-top: 35px !important;
  }

  .bannerImg {
    margin: auto;
    width: 70%;
  }

  .banner_img_div {
    top: -92px;
  }

  .react_logo_img {
    width: 45px;
    top: 7%;
    right: 24%;
  }

  .next_logo_img {
    width: 90px;
    top: 0;
    left: 15%;
  }

  .bgbannerImg {
    object-fit: cover;
  }
}

@media (max-width: 575px) {
  .banner_content h1 {
    text-align: center;
    font-size: 30px;
  }

  .banner_text {
    font-size: 15px !important;
  }

  .bannerImg {
    width: 100%;
  }

  .react_logo_img {
    top: 12%;
    right: 3%;
  }

  .js_logo_img {
    width: 40px;
  }

  .next_logo_img {
    left: 0;
  }
}
